.personal-data {
  width: 48%;

  margin: 1%;
  border: 1px solid;
  padding: 1rem;
}
.personal-data:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.pagination-buttons button {
  text-decoration: none;
  background: teal;
  color: #fff;
  padding: 0.75rem 1rem;
  border: 1px solid teal;
  margin: 1px;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.data {
  display: flex;
}
body {
  background: cyan;
}

p {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: cyan;
}
